__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.DS_Store
.env
.env.*
.venv
venv
.envrc
.git
.gitignore
.idea
.vscode

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.coverage

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Local data and uploads
uploads/
*.db
*.sqlite3
